{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
{% include 'frontandback/back/NiceAdmin/navbarmod.html.twig' %}
    <div style="margin: 150px"> 
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Créer une nouvelle catégorie</h1>
        <a href="{{ path('app_categorie_rec_index') }}" class="btn btn-primary">Retour à la liste</a>
    </div>
    {{ include('categorie_rec/_form.html.twig') }}
    <div>
    <br>
    
{% endblock %}
