{% extends 'base.html.twig' %}
{% block title %}Avis{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
    .center {
        text-align: center;
    }

    .table-center {
        margin: 0 auto;
    }
    </style>
{% endblock %}
{% block body %}
    {% include 'backandfront/Front/navbar.html.twig' %}

    <div class="center">
        <table class="table-center">
            <tbody>
                <tr>
                    <td>
                        <h1 style="font-size: 36px;">Create new Avis</h1>

                        {{ include('avis/_form.html.twig') }}
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>

    {% include 'backandfront/Front/footer.html.twig' %}
{% endblock %}
