{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
<center>
    <div style="margin: 20px;">
        <h1 style="text-align: center; font-size: 36px;">Create new Avis</h1>

        {{ include('avis/_form.html.twig') }}

        <div style="margin-top: 20px;">
            <a href="{{ path('app_avis_index') }}" style="text-decoration: none; background-color: #007bff; color: #fff; padding: 10px 20px; border-radius: 4px;">Back to list</a>
        </div>
    </div>
{% endblock %}
