{% extends 'base.html.twig' %}


{% block title %}Account Disabled{% endblock %}

{% block body %}
    {% include 'backandfront/Front/navbar.html.twig' %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{ 'Account Disabled'|trans }}</div>

                    <div class="card-body">
               {% if disabledUserEmail %}
    <p>Your account with email {{ disabledUserEmail }} has been disabled. Click <a href="{{ path('send_activation_link', {'id': userId}) }}">here</a> to send an activation link to your email and restore your account.</p>
{% else %}
    <p>Your account has been disabled. Contact the administrator to restore it.</p>
{% endif %}

    
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'backandfront/Front/footer.html.twig' %}
{% endblock %}
