{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin: 20px auto;
        display: block;
    }

   message {
    font-size: 24px;
    text-align: center;
     margin-left: 300px;
}

span {
    color: blue;
}

</style>
{% endblock %}

{% block title %}Profile{% endblock %}

{% block body %}

{% include 'backandfront/Front/navbarfree.html.twig' %}

    
 <message>Connecté comme Freelancer : <span>{{ app.session.get('user').getNom }}</span> <span>{{ app.session.get('user').getPrenom }}</span> Email : <span>{{ app.session.get('user').getEmail }}</span></message>

            <img src="{{ asset('images/' ~ app.session.get('user').getImage) }}" alt="User Image">
        </div>
    </div>

   {% include 'backandfront/Front/footer.html.twig' %}
{% endblock %}
