{% block body %}
    
    <p>Please click on the following link to activate your account:</p>
    <p><a href="{{ activationLink }}">{{ activationLink }}</a></p>
    <p>If you did not request this activation, please ignore this email.</p>
{% endblock %}
