<form method="post" action="{{ path('bapp_portfolio_delete', {'idportfolio': portfolio.idportfolio}) }}" onsubmit="return confirm('Are you sure you want to delete this Portfolio?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ portfolio.idportfolio) }}">
    <button class="btn">Delete</button>
</form>
