<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Facture</title>
  </head>
  <body>
    <p>Bonjour {{ facture.firstname }} {{ facture.lastname }},</p>
    <p>Nous vous remercions pour votre achat sur notre site.</p>
    <p>Le total de votre commande est de {{ facture.total }} DT.</p>

    <p>Cordialement,</p>
    <p>L'équipe de notre site</p>
  </body>
</html>
